@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*, *:before, *:after {
    box-sizing: inherit;
    font-family: 'Poppins', sans-serif;
    
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type:mandatory;

}
body{
    font-size: 10px;
    
    background-color:#aab9b9;
    color:black;
    
}
.servicios, 
.navegacion
{
 
    scroll-snap-stop: always;
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 2rem;
}
p{
    font-size: 1.5rem;
}
h1,h2,h3{
    text-align: center;
    
    text-transform: uppercase;
    
}
/*Estilos Scroll*/
::-webkit-scrollbar{
    width: 10px;

}
::-webkit-scrollbar-track{
    background: #3F3962;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb{
    background: #65929D;
    border-radius: 50px;
}

/** Header **/
.header {
    display: flex;
    justify-content: center;
    height: 40rem;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header__logo {
    margin: 3rem 0;
    max-width: 30rem;
}
/** Navegacion **/
.navegacion {
    background-color:#bbd3d0da;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 6rem; 
}

@media (max-width: 768px) {
    .navegacion {
        flex-direction: column;
        text-align: center;
        gap: 4rem;
        padding: 1rem 0;
        
    }
}

.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color:rgb(15, 15, 15);
}

.navegacion__enlace:hover {
    cursor:cell;
    
    color:rgb(76, 0, 253);
}    

.contenedor{
    max-width: 120rem;
    
    margin: 0 auto 0 auto;
}

@media (min-width: 768px) {
    .header__logo {
        max-width: 40rem;
    }
}

/*Utilidades*/

.w-100{
    width: 100%;
}
@media (min-width: 768px) { 
    .w-100{
        width: auto;
    }
}
.sombra{

    -webkit-box-shadow: 0px 5px 15px 0px rgba(125,118,125,1);
    -moz-box-shadow: 0px 5px 15px 0px rgba(125,118,125,1);
    box-shadow: 0px 5px 15px 0px rgb(190, 222, 231);
    background-color:#c2c6db;
    padding: 2rem;
    border-radius: 2rem;

}



@media (min-width: 768px) {
    
    
    .servicios{
        display: flex;
        
        
        column-gap: 3rem;
    }
}



.servicio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.servicio h3{
    
    font-weight: normal;

}

.servicio p{
    line-height: 2;
    text-align: center;
}
.mapamex{
    
    margin: 20px;
}

@media (max-width: 768px) {
    
    .imgs{
    max-width: 400px;
    max-height: 400px;
    }
    .mapamex{
        max-width: 40rem;
        margin: auto;
    }
}

.footer{
   
    
    color: black;
    text-align: center;
}


/*EMPRESA-SOBRE NOSOTROS*/
.contenedorNos {
    width: min(90%, 120rem);
    margin: 0 auto;
}

.centrar-texto {
    text-align: center;
}
.sobre-nosotros {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
    }
/** Sobre Nosotros **/
@media (min-width: 768px) {
    
}

/*CONTACTO*/
.boton {
    display: block;
    
    color:white;
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;

    }
}
.boton:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: black;
    
    box-shadow: 0 0 10px #edf5ed, 0 0 40px #e8ecee, 0 0 80px #fdfeff;
    transition-delay: .5s;
}
.boton--primario {
    background-color:#000000;
    
    margin: 20px;
    border-radius: 50px;

}
.contacto-bg {
    
    height: 5rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.formulario {
    background-color:white;
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
    color: #23242a;
}
.campo {
    display: flex;
    margin-bottom: 2rem;
}
.campo__label {
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
}
.campo__field {
    flex: 1;
    border: 1px solid gray;
}
.campo__field--textarea {
    height: 20rem;
}

/*Productos*/

.flex-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.caja{
   margin: 20px;
}
.caja:hover{
    box-shadow: #3F3962;
    transform: translateY(-3%);
}

.productos{
    width: 220px;
    height: 280px;
    border-radius: 30px;
}
.texto_p{
    font-size: 20px;
    color:black ;
    vertical-align: relative;
    text-align: justify;
}
.botones{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/**/
.text-center{
    text-align: center;
    
}
.d-flex-9 {
    display: flex;
    justify-content: space-between;
}

.d-flex-9 .box:nth-child(1) {
    flex-basis: calc(10% - 1rem);
}
.d-flex-9 .box:nth-child(2),
.d-flex-9 .box:nth-child(3) {
    flex-basis: calc(15% - 1rem);
}
.general{
    display: flex;
    justify-content: space-evenly;
}
.d-flex-12 {
    display: flex;
    
}
.d-flex-12 .box {
    flex-grow: 1;
    flex-basis: 200px;
}
.d-flex-12 .box:nth-child(3) {
    flex-shrink: 2;
}
@media (max-width: 1190px) {
   
    .d-flex-9{
       flex-direction: column;
    
    }
    .general{
        flex-direction: column;
     
     }
     .d-flex-12{
        flex-direction: column;
     
     }
     .d-flex-12 .box {
        flex-grow: 1;
        flex-basis: 60px;
    }
    .text-center{
        font-size: small;
    }
    .btn{
        flex: content;
    }
}
.d-flex-4 {
    display: flex;
    flex-direction: column;
    
    margin-bottom: 10px;
   

    
}
.btn {
    display:flex;
    
    color:rgb(253, 253, 255);
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 2rem;
    border: none;
}
.btn:hover {
    cursor: pointer;
    color: black;
    background-color: #fbfcfd;
    box-shadow: 0 0 10px #d1d6da, 0 0 40px #d4d9dd, 0 0 80px #d1d6da;
    transition-delay: .5s;
}